<div class="container">
  <span *ngIf="errorMsg" style="color: rgb(219, 58, 58);" >{{errorMsg}}</span>
  <form [formGroup]="chartForm" class="form-main">
    <button mat-raised-button (click)="getData()" class="form-main__submitButton">Get Data</button>
    <div class="form-main__data-fields">
      <mat-form-field>
        <mat-select  formControlName = "xAxisName" placeholder="X Axis" (selectionChange)="chartOption.hasOwnProperty('series')? drawChart('x'):null">
          <mat-option *ngFor="let axis of axises" [value]="axis">
            {{axis}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select  formControlName = "yAxisName" placeholder="Y Axis" (selectionChange)="chartOption.hasOwnProperty('series')? drawChart('y'):null">
          <mat-option *ngFor="let axis of axises" [value]="axis">
            {{axis}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select  formControlName = "symbol" placeholder="Symbol Type" (selectionChange)="chartOption.hasOwnProperty('series')? symbolChange():null">
          <mat-option *ngFor="let symbolType of symbols" [value]="symbolType">
            {{symbolType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
        (colorPickerChange)="chartOption.hasOwnProperty('series')? changeColor():null"
        formControlName="color" 
        placeholder="Select Color" 
        [(colorPicker)]="newColor" [style.background-color]="newColor" [value]="newColor">
      </mat-form-field>
    </div>
  </form>
  <div echarts  [options]="chartOption" class="chart" ></div>
</div>